{% include "./header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
<div class="container">
    <img class="store" src="static/eiffel.jpeg" alt="Eiffel">
    <p class="fixed">SE</p>
    <div class="content">
        <h1>Susanna Ensley</h1>

    </div>
</div>
<br>

<div class="indexcontainer">
    <a href="{{ url_for('about') }}">
    <img class="me" src="static/susanna.jpeg">
</a>
        <p class="index">My name is Susanna Ensley. I am a python programmer and web designer.
            I currently am looking for work as a Backend Developer, Full Stack Developer, or a Web Designer.
            I also am a photographer and have experience in photo editing.
            To learn a little more about me, check my 'about me' section or click on my picture!</p>
</div>

<div class="indexcontainer2">
    <a href="{{ url_for('resume') }}">
    <img class="hotel" src="static/hotel.jpeg" height="300px" width="300px">
</a>
        <p class="index2">My resume is only one click away!
            Check it to find out more about the several positions I have held with Costco Wholesale, PPOC, and Telus International.
            You will also find that I am self-taught in HTML, CSS, Python, Solidity, and JavaScript.


</div>

<div class="indexcontainer2">
    <a href="{{ url_for('portfolio') }}">
    <img class="windows" src="static/windows.jpeg" height="300px" width="300px">
</a>
        <p class="index3">Look through my portfolio to find out what kind of projects I have created.
            If my portfolio does not have any examples of projects you would like to see, Please let my know in the 'about me' section and I would be happy to share other projects that I have worked on that might be more applicable to what you are looking for.
            Examples of some projects you will find is a Morse Code Converter, etc. </p>
</div>
<div class="indexcontainer2">
    <img class="coffee" src="static/coffee.jpeg" height="300px" width="300px">
</a>
        <p class="index4">So what is the takeaway? I am so excited to learn and grow as a programmer and an individual.
            I am looking for opportunities where I will be challenged to further my knowledge and skills and bring some of my own as well.
            If you are interested in my work then do not hesitate to reach out. </p>
</div>
<br>
<br>
<br>
<br>



{% include "footer.html" %}