{% include "header.html" %}

<body>
<p class="fixed">SE</p>
<div class="container">
<img class="home" src="static/stairs.jpg">
    <div class="content">
        <h1>My Portfolio</h1>
    </div>
</div>
<div class="containermorse">
    <a class="morse" href="https://replit.com/@susannaensley/Morse-Code?v=1">
    <img src="static/morse.jpg"
         height="300px" width="300px">
</a>
</div>
<div class="containermorse2">
    <a class="morse2" href="https://replit.com/@susannaensley/Automation">
    <img src="static/selenium.jpg"
     height="300px" width="300px">

</a>
</div>
<p class="justify">Morse Code Converter (python)</p>
<p class="justify2">Google Search Automation (python)</p>
<br>
<br>
<br>
<br>
<br>
<br>
</body>

{% include "footer.html" %}
