{% include "header.html" %}

<body>
<p class="fixed">SE</p>
<div class="container">
<img class="home" src="static/stairs.jpg">
    <div class="content">
        <h1>My Portfolio</h1>
    </div>
</div>
<div class="containermorse">
    <a class="morse" href="https://replit.com/@susannaensley/Morse-Code?v=1">
  <img src="static/morse.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">John Doe</div>
  </div>
</div>
</a>
<a class="morse" href="https://replit.com/@susannaensley/Morse-Code?v=1">
    <img src="static/morse.jpg"
    width="300px" height="300px">
</a>
<p class="justify">Morse Code Converter (python)</p>
</body>

{% include "footer.html" %}