{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<body>
<p class="fixed">SE</p>

<div class="container">
    <img class="shiny" src="static/shiny.jpeg" width="1400px" height="600px">
    <div class="resume">
        <h1>My Resume</h1>
    </div>
</div>
<p class="resume1">Work Experience</p>

<ul class="list2">
    <li class="list2">Costco Wholesale
        <ul class="list2">
            <li class="list2">Part-Time Food Court (2015-2017): In this position I was tasked with member-service, prepping food, serving it, and collecting and maintaining count of the money received.
            In this role I learned how to take direction, learn the needs of my department and work under little or no supervision, and discovered that I wanted to move up within my department.</li>
            <li class="list2">Full-Time Supervisor (2018-2020): In this roll I had 25-30 employees reporting to me.
            I was in charge of schedule writing, ordering for my department, managing the employees, finding ways to increase department productivity,
            fixing and/or contacting maintenance to fix any technical issues that came about in my department. </li>
            <li class="list2">Part-time Clerk Deli (2020-present): My duties in this position deal with food prep, labeling ready to serve items,
                shopping for my department, ensuring our case is 'show-time' ready at all times, and merchandising our 'front-end' and 'back-end' items to maintain a safe and organized department.</li>
        </ul>
    </li>
</ul>

<p class="resume1">Other Notable Experience</p>

<ul class="list2">
    <li class="list2">PPOC
        <ul class="list2">
            <li class="list2">Product Testing (2020-present) Through PPOC I receive products to test from companies who would like feedback and honest reviews on their merchandise.
                Through this opportunity I have learned about different brands and advertisement.</li>
        </ul>
    </li>
</ul>
    <ul class="list2">
        <li class="list2">Telus International
          <ul class="list2">
            <li class="list2">Rater (2021-2022) In this roll, it is my responsibility to analyze landing pages, images, videos, and more to give rating based on the accuracy of search engines.</li>
        </ul>
    </li>
</ul>

<p class="resume1">Education</p>
<div class="education">
<p>CSN - English Major (2014-2016)</p>
<p>Free Code Camp - HTML, CSS, and JavaScript (2021)</p>
<p>Udemy - Python (2021-2022)</p>
<p>Udemy - Solidity (2021-2022)</p>
</div>
<br>
<br>
<br>
</body>

{% include "footer.html" %}